header {
  background-color: #f2f2f2;
  height: 50px;
  width: 800px;
  padding: 20px;
  margin: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (max-width: 840px) {
    width: 600px;
  }

  @media (max-width: 412px) {
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;

    a {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      margin-left: 10px;

      @media (max-width: 412px) {
        font-size: 18px;
      }
    }
  }

  .signPanel {
    display: flex;

    .avatar {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    .exit {
      margin-left: 5px;
    }

    .sign {
      position: relative;

      .signIn {
        position: absolute;
        left: 10px;
        width: 60px;
        background-color: #007bff;
        color: #fff;
        padding: 5px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
      .signUp {
        position: absolute;
        right: 33px;
        width: 60px;
        background-color: #1abc9c;
        color: #fff;
        padding: 5px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #308a78;
        }
      }
    }

    img:hover {
      cursor: pointer;
    }
  }

  .favorites {
    display: flex;
    align-items: center;
    position: relative;

    a {
      font-size: 20px;
      text-decoration: none;
      color: #333;
      margin-left: 10px;

      @media (max-width: 412px) {
        font-size: 0px;
      }
    }

    .favCount {
      font-size: 13px;
      position: absolute;
      top: -1px;
      right: -18px;
      background-color: #1abc9c;
      border-radius: 15px;
      padding: 2px;
      min-width: 20px;
      text-align: center;

      @media (max-width: 412px) {
        top: -1px;
        right: -15px;
      }
    }
  }
}
