* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 800px;
  margin: auto;
  
  .mainInput {
    display: flex;
    justify-content: center;
    position: relative;
    

    input {
      margin-top: 10px;
      width: 500px;
      height: 40px;
      border-radius: 5px;
    }

    img {
      position: absolute;
      top: 17px;
      right: 160px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
