* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #7d7d7a52;
  position: relative;
}

.content {
  .Home {
    width: 800px;
    margin: auto;

    @media (max-width: 800px) {
      width: 300px;
    }

    .scrollToTop {
      position: fixed;
      bottom: 5px;
      right: 50px;
      z-index: 99;
      width: 50px;
      height: 50px;
      background: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      padding: 5px;
      box-sizing: border-box;

      &::before {
        content: "\2191";
        display: block;
        font-size: 20px;
        line-height: 1;
      }

      &:hover {
        background: #1abc9c;
      }
    }

    .mainInput {
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: 412px) {
        margin: auto;
        width: 100%;
      }
    }

    .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 430px;

  @media (max-width: 412px) {
    width: 200px;
  }
}

button[type="submit"] {
  background-color: #1abc9c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #16a085;
}

.fav-wrapper {
  width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 412px) {
    width: 300px;
  }

  .save-button {
    width: 200px;
    margin-top: 5px;
    height: 25px;
    background-color: rgba(198, 185, 131, 0.82);
    border: 0;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: rgba(198, 185, 131, 0.596);
    }
  }

  .empty {
    margin-left: 8px;
    width: 100px;
  }
}

.emptyFav {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 10px;
  }
}

.form-container {
  border: 1px solid black;
  padding: 5px;
  display: flex;

  div {
    background-color: #1abc9c;
    padding: 3px;
  }
}

.sort_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .sortBy {
    font-size: 18px;
  }

  ul {
    display: flex;
    li {
      background-color: #ececec;
      padding: 3px;
      border-radius: 4px;
      margin: 2px 2px;
      list-style-type: none;
      user-select: none;
    }
    .selected {
      background-color: #3f3b3b;
      color: white;
    }
  }
}

.rateButton {
  width: 100px;
  height: 25px;
  background-color: rgba(174, 157, 87, 0.82);
  border: 0;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba(73, 60, 60, 0.556);
  }
}

.ratePanel {
  border-radius: 5px;
  background-color: #dfdede;
  box-shadow: 3px 2px 6px rgba(26, 24, 24, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 25px;
  padding: 0 10px;
  cursor: pointer;

  .rateItem {
    transition: background-color 0.3s ease;
  }

  span {
    width: 15px;
    margin: 1px;
    font-weight: bold;

    &:hover {
      font-size: 20px;
      transform: scale(1);
    }
  }

  .redRate:hover {
    color: red;
  }

  .greyRate:hover {
    color: grey;
  }

  .greenRate:hover {
    color: green;
  }
}
