* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #7d7d7a52;
}

.App {
  width: 800px;
  margin: auto;

  .mainInput {
    display: flex;
    justify-content: center;
    position: relative;

    .searchIcon {
      z-index: 2;
      position: absolute;
      top: 17px;
      right: 160px;
      &:hover {
        cursor: pointer;
      }
    }

    .line {
      position: absolute;
      top: 9px;
      right: 170px;
    }

    .clearIcon {
      z-index: 2;
      position: absolute;
      width: 30px;
      top: 16px;
      right: 195px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 400px;
}

button[type="submit"] {
  background-color: #1abc9c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #16a085;
}